{
    "extends": "@paysera",
    "env": {
        "browser": true
    },
    "parser": "babel-eslint",
    "ignorePatterns": [
        "dist/",
        "es/",
        "node_modules/"
    ],
    "overrides": [
        {
            "files": [
                "**/*.test.js",
                "**/*.test.jsx"
            ],
            "env": {
                "jest": true
            },
            "plugins": ["jest"]
        }
    ]
}
